<div class="col-md-2 filters" id="filters">
	<h3>Filters</h3>	
	{{#each objects}}
		<p class="tags">{{@key}}</p>  
		<ul class="filter-labels">
		{{#each this}}
			<li class="checkbox"><input id="filter-{{type}}{{@index}}" type="checkbox" value="{{value}}" name="{{type}}"/><label for="filter-{{type}}{{@index}}"> {{value}}</label></li>			
		{{/each}}
		</ul>
	{{/each}}
</div>
<div class="col-md-10 clientList-cards">
	<div class="search-box1 col-md-12">
		<span class="col-md-4">YOUR DOST</span>
		<input id="filterConselors" class="col-md-4 pull-right" type="search" placeholder="Search">
		<!--<div class="sort-area">
			<span>Sort By:</span>
			<select class="client-sort">
				<option>Recently Added</option>
				<option>Recentlt Active</option>
				<option>Alphabetically</option>
			</select>
		</div>-->
	</div>
	<div class="clientCards-area">
	</div>
</div>